<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.securitymanager.securitymanager">

    <application
        android:name=".a_variable"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".QRScannerActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".LoginPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".homepage"
            android:screenOrientation="portrait" />

        <activity
            android:name=".About"
            android:parentActivityName=".homepage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VisitorEntry"
            android:parentActivityName=".homepage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".VisitorExit"
            android:parentActivityName=".homepage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".News"
            android:parentActivityName=".homepage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setting"
            android:parentActivityName=".homepage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Exp_visitor"
            android:parentActivityName=".homepage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".allstafflistactivity"
            android:parentActivityName=".staff_exit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".staff_latest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".staff_exit"
            android:parentActivityName=".homepage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".staffview"
            android:parentActivityName=".staff_exit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".total_staffexit"
            android:parentActivityName=".staff_exit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".staff_add"
            android:parentActivityName=".staff_exit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".addnews"
            android:parentActivityName=".homepage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visitordetails"
            android:parentActivityName=".VisitorExit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visitor_latest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visitorreport"
            android:parentActivityName=".VisitorExit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visitor_unit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Staff_CheckIn"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Welcome_staff"
            android:parentActivityName=".Staff_Entry"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Staff_Entry"
            android:parentActivityName=".homepage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".welcomevisit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stafftotaldetail"
            android:parentActivityName=".total_staffexit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SOSAlert"
            android:parentActivityName=".homepage" />
        <activity
            android:name=".CheckPostMaster"
            android:parentActivityName=".homepage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CheckPost"
            android:parentActivityName=".CheckPostMaster"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Round"
            android:parentActivityName=".CheckPost"
            android:screenOrientation="portrait" />
        <!--<activity
            android:name=".schedule_list"
            android:parentActivityName=".homepage"
            android:screenOrientation="portrait" />-->
        <activity
            android:name=".CheckPostView"
            android:parentActivityName=".CheckPostMaster"
            android:screenOrientation="portrait" />

        <activity android:name=".RoundQRScanner"></activity>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>