<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.softel.securitymanager.securitymanager">

    <application
        android:name="com.softel.securitymanager.securitymanager.a_variable"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.softel.securitymanager.securitymanager.QRScannerActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name="com.softel.securitymanager.securitymanager.LoginPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.softel.securitymanager.securitymanager.homepage"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.softel.securitymanager.securitymanager.About"
            android:parentActivityName="com.softel.securitymanager.securitymanager.homepage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.softel.securitymanager.securitymanager.VisitorEntry"
            android:parentActivityName="com.softel.securitymanager.securitymanager.homepage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.softel.securitymanager.securitymanager.VisitorExit"
            android:parentActivityName="com.softel.securitymanager.securitymanager.homepage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.softel.securitymanager.securitymanager.News"
            android:parentActivityName="com.softel.securitymanager.securitymanager.homepage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.softel.securitymanager.securitymanager.Setting"
            android:parentActivityName="com.softel.securitymanager.securitymanager.homepage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.softel.securitymanager.securitymanager.Exp_visitor"
            android:parentActivityName="com.softel.securitymanager.securitymanager.homepage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.softel.securitymanager.securitymanager.allstafflistactivity"
            android:parentActivityName="com.softel.securitymanager.securitymanager.staff_exit"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.softel.securitymanager.securitymanager.staff_latest"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.softel.securitymanager.securitymanager.staff_exit"
            android:parentActivityName="com.softel.securitymanager.securitymanager.homepage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.softel.securitymanager.securitymanager.staffview"
            android:parentActivityName="com.softel.securitymanager.securitymanager.staff_exit"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.softel.securitymanager.securitymanager.total_staffexit"
            android:parentActivityName="com.softel.securitymanager.securitymanager.staff_exit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.softel.securitymanager.securitymanager.staff_add"
            android:parentActivityName="com.softel.securitymanager.securitymanager.staff_exit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.softel.securitymanager.securitymanager.addnews"
            android:parentActivityName="com.softel.securitymanager.securitymanager.homepage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.softel.securitymanager.securitymanager.visitordetails"
            android:parentActivityName="com.softel.securitymanager.securitymanager.VisitorExit"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.softel.securitymanager.securitymanager.visitor_latest"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.softel.securitymanager.securitymanager.visitorreport"
            android:parentActivityName="com.softel.securitymanager.securitymanager.VisitorExit"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.softel.securitymanager.securitymanager.visitor_unit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.softel.securitymanager.securitymanager.Staff_CheckIn"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.softel.securitymanager.securitymanager.Welcome_staff"
            android:parentActivityName="com.softel.securitymanager.securitymanager.Staff_Entry"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.softel.securitymanager.securitymanager.Staff_Entry"
            android:parentActivityName="com.softel.securitymanager.securitymanager.homepage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.softel.securitymanager.securitymanager.welcomevisit"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.softel.securitymanager.securitymanager.stafftotaldetail"
            android:parentActivityName="com.softel.securitymanager.securitymanager.total_staffexit"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.softel.securitymanager.securitymanager.SOSAlert"
            android:parentActivityName="com.softel.securitymanager.securitymanager.homepage" />
        <activity
            android:name="com.softel.securitymanager.securitymanager.CheckPostMaster"
            android:parentActivityName="com.softel.securitymanager.securitymanager.homepage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.softel.securitymanager.securitymanager.CheckPost"
            android:parentActivityName="com.softel.securitymanager.securitymanager.CheckPostMaster"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.softel.securitymanager.securitymanager.Round"
            android:parentActivityName="com.softel.securitymanager.securitymanager.CheckPost"
            android:screenOrientation="portrait" />
        <!--<activity
            android:name=".schedule_list"
            android:parentActivityName=".homepage"
            android:screenOrientation="portrait" />-->
        <activity
            android:name="com.softel.securitymanager.securitymanager.CheckPostView"
            android:parentActivityName="com.softel.securitymanager.securitymanager.CheckPostMaster"
            android:screenOrientation="portrait" />

        <activity android:name="com.softel.securitymanager.securitymanager.RoundQRScanner"></activity>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>